---
layout: default
permalink: /work/
custom_js:
- portfolio
---

      <div class="material-background"></div>
      <div class="container">
        <div class="text-center mb-6">
          <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Recent Projects</h1>
          <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
              Discover our projects and the
            <span class="colorStar">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.
            </p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row masonry-container">
              <!-- item -->
              <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                {% include_relative projects/microguide/card.html %}
              </div>
              <!-- item -->
              <!-- item -->
              <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                {% include_relative projects/knightfrank/card.html %}
              </div>
              <!-- item -->
              <!-- item -->
              <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                {% include_relative projects/bsc/card.html %}
              </div>
              <!-- item -->
            </div>
          </div>
        </div>
      </div>
