<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline social-icons">
                    <li>
                        <div class="item">
                            <a href="https://github.com/tkglaser" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                        <!-- //.item -->
                    </li>

                    <li>
                        <div class="item">
                            <a href="https://www.facebook.com/TKGlaser" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                        <!-- //.item -->
                    </li>

                    <li>
                        <div class="item">
                            <a href="https://twitter.com/tkglaser" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                        <!-- //.item -->
                    </li>

                    <li>
                        <div class="item">
                            <a href="https://www.linkedin.com/in/tkglaser" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- //.item -->
                    </li>
                </ul>
            </div>
            <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p class="text-grey">&copy;2017 Thomas Glaser. All rights reserved.</p>
                </div>
                <!-- //.copyright -->
            </div>
            <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</footer>
