<aside class="ms-footbar">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Sitemap</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                  <li>
                    <a href="{{ site.baseurl }}{% link content/index.html %}">
                      <i class="zmdi zmdi-home"></i> Home</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}{% link blog/index.html %}">
                      <i class="zmdi zmdi-edit"></i> Blog</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}{% link content/portfolio.html %}">
                      <i class="zmdi zmdi-case"></i> Work</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}{% link content/about.html %}">
                      <i class="zmdi zmdi-favorite-outline"></i> About Me</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}{% link content/services.html %}">
                      <i class="zmdi zmdi-face"></i> Services</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}{% link content/contact.html %}">
                      <i class="zmdi zmdi-email"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!--<div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Subscribe</h3>
                <p class="">Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                <form>
                  <div class="form-group label-floating mt-2 mb-1">
                    <div class="input-group ms-input-subscribe">
                      <label class="control-label" for="ms-subscribe">
                        <i class="zmdi zmdi-email"></i> Email Adress</label>
                      <input type="email" id="ms-subscribe" class="form-control"> </div>
                  </div>
                  <button class="ms-subscribre-btn" type="button">Subscribe</button>
                </form>
              </div>-->
            </div>
            <div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title text-center mb-2">Last Articles</h3>
                <div class="ms-footer-media">
                  {% for post in site.posts limit:3 %}  
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="{{ post.url }}">
                          {% if post.image %}
                            <img class="footer-media-image media-object media-object-circle" src="{{ post.image }}" alt="" >
                          {% else %}
                            <img class="media-object media-object-circle" src="/assets/img/demo/p75.jpg" alt="...">
                          {% endif %}
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a href="{{ post.url }}">
                            {{ post.title }}
                          </a>
                        </h4>
                        <div class="media-footer">
                          <span>
                            <i class="zmdi zmdi-time color-info-light"></i> {{ post.date | date: "%-d %b %Y" }}
                          </span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  <img src="/assets/images/logo-only-30.png" alt="">
                  <h3 class="no-m ms-site-title">tk
                    <span>glaser</span><small>.net</small>
                  </h3>
                </div>
                <address class="no-mb">
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> 58 Forest Road</p>
                  <p>
                    <i class="color-warning-light zmdi zmdi-map mr-1"></i> Windsor, SL4 4HU</p>
                  <p>
                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                    <a href="mailto:thomas@tkglaser.net">thomas@tkglaser.net</a>
                  </p>
                </address>
              </div>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Social Media</h3>
                <div class="ms-footbar-social">
                  <a href="https://www.linkedin.com/in/tkglaser" class="btn-circle btn-linkedin">
                    <i class="zmdi zmdi-linkedin"></i>
                  </a>
                  <a href="https://twitter.com/tkglaser" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                  <a href="https://github.com/tkglaser" class="btn-circle btn-github">
                    <i class="zmdi zmdi-github"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; Thomas Glaser 2020</p>
        </div>
      </footer>
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>
