<div class="card">
    <figure class="ms-thumbnail ms-thumbnail-horizontal">
        <img src="{{ include.image }}" alt="" class="img-responsive">
        <figcaption class="ms-thumbnail-caption text-center">
            <div class="ms-thumbnail-caption-content">
                <h4 class="ms-thumbnail-caption-title mb-2">{{ include.title }}</h4>
                <a href="{{ site.baseurl }}/work/{{include.path}}/" class="btn btn-royal btn-raised">
                    <i class="zmdi zmdi-globe"></i> Case Study
                </a>
            </div>
        </figcaption>
    </figure>
    <div class="card-block">
        <h4 class="color-royal">{{ include.title }}</h4>
