<!-- sb-site-container -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
    <header class="ms-slidebar-header">
        <div class="ms-slidebar-title">
        <div class="ms-slidebar-t">
            <!--<span class="ms-logo ms-logo-sm">M</span>-->
            <img src="/assets/images/logo-only-30.png" alt="">
            <h3>tk
            <span>glaser</span>
            </h3>
        </div>
        </div>
    </header>
    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li>
          <a class="link" href="{{ site.baseurl }}{% link content/index.html %}">
            <i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li>
          <a class="link" href="{{ site.baseurl }}{% link content/services.html %}">
            <i class="zmdi zmdi-assignment"></i> Services</a>
        </li>
        <li>
          <a class="link" href="{{ site.baseurl }}{% link blog/index.html %}">
            <i class="zmdi zmdi-library"></i> Blog</a>
        </li>
    </ul>
    <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Social Links</h4>
        <div class="ms-slidebar-social">
        <a href="https://www.linkedin.com/in/tkglaser" class="btn-circle btn-circle-raised btn-linkedin">
            <i class="zmdi zmdi-linkedin"></i>
            <div class="ripple-container"></div>
        </a>
        <a href="https://twitter.com/tkglaser" class="btn-circle btn-circle-raised btn-twitter">
            <i class="zmdi zmdi-twitter"></i>
            <div class="ripple-container"></div>
        </a>
        <a href="https://github.com/tkglaser" class="btn-circle btn-circle-raised btn-github">
            <i class="zmdi zmdi-github"></i>
            <div class="ripple-container"></div>
        </a>
        </div>
    </div>
    </div>
</div>
