---
layout: default
---
<div class="ms-hero-page ms-hero-img-thomas-garage-side ms-hero-bg-primary mb-6">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best
                <span class="colorStar">tricks</span> and
                <span class="colorStar">discounts</span>.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for post in paginator.posts %}
                <article class="card mb-4 wow materialUp animation-delay-5">
                    <div class="card-block">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="lead text-primary">
                            <span class="date">{{ post.date | date: "%-d %b %Y" }}</span>
                        </p>
                        {{ post.excerpt }}
                        
                        <div class="row">
                            <div class="col-md-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6">
                                <a href="{{ post.url }}" class="btn btn-primary btn-raised btn-block animate-icon">Read more
                                    <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </article>
            {% endfor %}

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                        <li >
                            <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <span >Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                    </li>
                    {% if paginator.next_page %}
                        <li >
                            <a href="{{ paginator.next_page_path }}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            {% include profile-card.html %}
        </div>
    </div>
</div>


