---
layout: default
---
<div class="ms-hero-page ms-hero-img-keyboard ms-hero-bg-primary mb-6">
    <div class="container">
        <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best
                <span class="colorStar">tricks</span> and
                <span class="colorStar">discounts</span>.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            {% for post in paginator.posts %}
                <article>
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <p class="lead text-primary">
                        <span class="date">{{ post.date | date: "%-d %b %Y" }}</span>
                    </p>
                    {{ post.excerpt }}
                    <a class="btn btn-primary" href="{{ post.url }}">
                        Read more
                    </a>
                    <hr />
                </article>
            {% endfor %}

            <nav class="pagination">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                        <li class="previous">
                            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <span class="previous disabled">Previous</span>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                    </li>
                    {% if paginator.next_page %}
                        <li class="next">
                            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <span class="next">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>


