<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>

    <div class="sb-site-container">
      {% include nav.html %}

      {{ content }}

      {% include footer.html %}
    </div>
    {% include sidebar.html %}
    <script src="/assets/js/plugins.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
  </body>

</html>
