---
layout: default
---
<div class="container" *ngIf="article">
    <div class="row">
        <div class="col-md-8">
            <div class="card animated fadeInLeftTiny animation-delay-5">
                <div class="card-block card-block-big" itemscope itemtype="http://schema.org/BlogPosting">
                    <h1 class="no-mt" itemprop="name headline">{{ page.title | escape }}</h1>
                    <div class="mb-4">
                        <img src="/assets/images/Thomas-Profile-160.jpg" alt="..." class="img-circle mr-1" style="max-width:50px"> by
                        <a href="javascript:void(0)"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Thomas Glaser</span></span></a>
                        <span class="ml-1 hidden-xs">
                            <i class="zmdi zmdi-time mr-05 color-info"></i>
                            <span class="color-medium-dark"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time></span>
                        </span>
                    </div>
                    {% if page.image %}
                        <img src="{{page.image}}" alt=" " class="img-responsive mb-4">
                    {% endif %}
                    {{ content }}
                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include profile-card.html %}
        </div>
    </div>
</div>
