---
layout: default
---
<div class="container" *ngIf="article">
    <div class="row">
        <div class="col-md-7">
            <article class="blog-article" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="page-header">
                    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
                    <p class="lead text-primary">
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
                    </p>
                </div>
                {{ content }}
                <hr />
                {% if site.disqus.shortname %}
                  {% include disqus_comments.html %}
                {% endif %}
            </article>
        </div>
        <div class="col-md-5">
            <p>The Sidebar</p>
        </div>
    </div>
</div>

{% include profile-card.html %}
