---
layout: default
---
<div class="ms-hero-page mb-6 ms-hero-bg-primary ms-hero-img-coffee">
    <h2 class="text-center no-m pt-4 pb-4 color-white index-1">{{ page.title }}</h2>
    <p class="lead color-white index-1 text-center">{{ page.description }}</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
    {% if page.carousel %}
            <div class="card">
                <div class="">
                    <div id="carousel-example-generic" class="ms-carousel carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in page.carousel %}
                            {% if forloop.index0 == 0 %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" class="active"></li>
                            {% else %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"></li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            {% for image in page.carousel %}
                            {% if forloop.index0 == 0 %}
                              <div class="item active">
                                <img src="{{ image }}" alt="...">
                              </div>
                            {% else %}
                              <div class="item">
                                <img src="{{ image }}" alt="...">
                              </div>
                            {% endif %}
                            {% endfor %}
                    </div>
                  <!-- Controls -->
                  <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev">
                    <i class="zmdi zmdi-chevron-left"></i>
                  </a>
                  <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next">
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
    {% endif %}

          </div>
        {% if page.keyfacts %}

          <div class="col-md-4">
            <div class="card">
              <div class="ms-hero-bg-primary ms-hero-img-mountain">
                <h2 class="text-center no-m pt-4 pb-4 color-white index-1">Key facts</h2>
              </div>
              <div class="card-block">
                <ul>
                {% for fact in page.keyfacts %}
                  <li>{{fact}}</li>
                {% endfor %}
                </ul>
                <div class="text-center">
                  <a href="{{ site.baseUrl }}{% link content/contact.html %}" class="btn btn-raised btn-lg btn-warning btn-lg animated flipInX animation-delay-10">
                    <i class="zmdi zmdi-mail-send"></i> Contact me
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        </div>
      <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Project description</h2>
          </div>
          <div class="card-block">
            {{ content }}

            <div class="text-center">
              <a href="{{ site.baseUrl }}{% link content/contact.html %}" class="btn btn-raised btn-lg btn-warning btn-lg animated flipInX animation-delay-10">
                <i class="zmdi zmdi-mail-send"></i> Contact me
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

